html, body {
    max-width: 1000px;
    margin: 10px auto;
}

/*
====================================
    Text Styles
====================================
*/

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

h1 {
    font-style: italic;
    font-size: 30px;
}

.label, 
.current_data {
    font-size: 15px;
}

/*
====================================
    Header
====================================
*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 10px 40px 10px;
    height: 50px;
}

.search_dropdown {
    visibility: hidden;
    position: absolute;
    width: 200px;
    background-color: #EEE;
    border: 2px solid #777;
    border-radius: 4px;
    margin-top: 5px;
}

.search_dropdown li {
    margin: 5px 0;
}

.search_dropdown li a {
    text-decoration: none;
    color: black;
}

/*
====================================
    Main Container 
====================================
*/

.main_container {
    visibility: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0 20px;
}

.weather_wrapper {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    height: auto;
}

.location {
    flex-basis: 100%;
    display: flex;
}

.current_city {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-basis: 95%;
    height: 30px;
    margin: 0 5px;
}

.city_name {
    margin-left: 5px;
}

.divider {
    flex-basis: 100%;
    height: 1px;
    border-top: 1px solid #777;
    margin: 10px;
}

.option_bar {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    margin: 0 5px 10px 5px;
}

.option_bar .units {
    flex-basis: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.option_bar .units .unit_button {
    margin: 0 5px;
    width: 50px;
    background-color: #EEE;
    border: 1px solid #777;
}

.option_bar .multiple_forcasts {
    flex-basis: 75%;
    display: flex;
    justify-content: space-around;
}
.option_bar .multiple_forcasts .forcast_days {
    display: flex;
    flex-basis: 24%;
    align-items: center;
}

.option_bar p {
    font-size: 10px;
}

.current_time_wrapper {
     flex-basis: 100%;
     display: flex;
     justify-content: center;
 }

#windIcon {
    width: 18px;
    height: 18px;
    transform: rotate(0deg);
}

/* Current Weather */

.current_weather {
    display: flex;
    flex-flow: row wrap;
}

.weather_icon {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.current_forcast {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.label {
    flex-basis: 45%;
    margin: 5px 0 5px 5px;
}

.current_data {
    flex-basis: 45%;
    margin: 5px 0 5px 5px;
}

/* Forcast */



.current {
    flex-basis: 25%;
}

.forcast {
    flex-basis: 70%;
}

.chartFilter {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
}

.forcastChart {
    flex-basis: 100%;

}